{% extends "@Dashboard/layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>Welcome to the Job Scheduler Server</h1>
    
    <p class="lead">Epic job scheduling for your applications</p><br />

    <a class="btn btn-success btn-lg" href="/jobs">View jobs</a>
    <a class="btn btn-success btn-lg" href="/api/v1">View API</a>
    
</div>


{% endblock %}
